@import url(https://fonts.intera.dev/_/plus+jakarta+sans);
@import url(https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css);
* {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body, html {
  height: 100%;
}

body {
  background: #FFF;

  svg {
    fill: #323232;
  }

  @media (prefers-color-scheme: dark) {
    background: #000000;
    color: #FFF;
    svg, img {
      fill: #FFF;
    }
  }
}

p, img, svg, h1, h2, h3, h4 {
  user-select: none;
}

input, select {
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;

  color: #000;

  @media (prefers-color-scheme: dark) {
    color: #FFF;
  }
}

#app {
  min-height: 100%;
}

.scale-active {
  transition: 0.3s;

  &:hover {
    transform: scale(1.04);
  }
  &:active {
    transform: none;
  }
}


.icon-button {
  color: #323232;
  font-size: 25px;
  padding: 5px;
  margin: -5px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  transition: 0.3s;

  &:hover {
    background: #00000011;
    transform: scale(1.15);
  }
  &:active {
    transform: none;
  }
  @media (prefers-color-scheme: dark) {
    color: #FFF;
    &:hover {
      background: #FFFFFF11;
    }
  }
}

.search {
  position: absolute;
  right: 0;
  top: 0;
  background: #f5f5f5;
  color: #323232;
  padding: 5px 8px;
  border-radius: 8px;
  @media (prefers-color-scheme: dark) {
    color: #FFF;
    background: #3f3f3f;
  }
  @media screen and (max-width: 720px) {
    position: initial;
    top: initial;
    left: initial;
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
}

.no-entries-found {
  opacity: 0.5;
  text-align: center;
  margin: 70px 0;
}

.site-width {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 15px;
}

.site-top-margin {
  margin-top: 70px;
}

label {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  opacity: 0.5;
  display: block;
}

.input {
  display: block;
  border: 2px solid #00000022;
  color: #000000;
  width: 100%;
  padding: 6px 10px;
  border-radius: 10px;
  transition: 0.3s;

  @media (prefers-color-scheme: dark) {
    color: #FFF;
    border-color: #FFFFFF33;
  }

  &:focus {
    border-color: #FF5880;
  }
}

.btn {
  outline: none;
  border: none;
  background: #FF5880;
  color: #FFF;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  padding: 5px 11px;
  font-weight: 500;
  user-select: none;
  text-decoration: none;

  transition: 0.3s;

  &:hover {
    transform: scale(1.04);
  }

  &:active {
    transform: none;
  }

  &.btn-danger {
    background: #cc2424;
  }

  &.btn-success {
    background: #32a88f;
  }

  &.btn-gray {
    background: #e7e7e7;
    color: #323232;
    @media (prefers-color-scheme: dark) {
      background: #212121;
      color: #FFF;
    }
  }
}

@import './grid';