#home {
  height: 100%;

  #home-top {
    background: #F9F9F9;
    height: 100vh;
    display: grid;
    grid-template-rows: auto fit-content(0px) auto;
    transition: 0.3s height;
    #home-slug {
      text-align: center;
      margin-bottom: 60px;
      font-weight: 400;
      b {
        font-weight: 600;
      }
    }
    #home-top-contents {
    }

    &.logged-in {
      height: initial;
      grid-template-rows: 50px fit-content(60px) 50px;
      #home-slug {
        display: none;
      }
      #home-top-contents {
        margin-top: 55px;
      }
    }


    @media (prefers-color-scheme: dark) {
      background: #111111;
    }
  }
}